@charset "utf-8";
/*css reset*/
*{
    margin:0;
    padding:0;
}

.box{
    width:500px;
    height:500px;
    background:orange;
    margin:0 auto;
    color:#ffffff;
    font-size:30px;
    line-height:500px;
    text-align: center;
    font-weight: bold;

}
